.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.randomNumberContainer {
  height: 350px;
  width: 300px;
  background-color: #ffffff;
  border: solid;
  border-color: #e4ebf3;
  border-radius: 10px;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: 'Roboto';
  color: #0b69ff;
  font-size: 20px;
  font-weight: 700;
}

.description {
  font-family: 'Roboto';
  color: #333333;
  font-size: 14px;
  font-weight: 700;
  max-width: 220px;
  text-align: center;
}

.button {
  font-family: 'Roboto';
  background-color: #0b69ff;
  height: 30px;
  width: 80px;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 400;
}

.result {
  color: #0b69ff;
  height: 24px;
}
